coverage==7.6.9
# commands
invoke==2.2.0
ipykernel==6.7.0
ipywidgets==8.1.2
kagglehub==0.3.6

# docs
mkdocs==1.5.3
mkdocs-material==9.4.6
mkdocstrings-python==1.12.2

# jupyter
notebook==7.2.2

# utility
pandas==2.2.3

# pre-commit
pre-commit==3.5.0

# testing
pytest==7.4.3

# linting
ruff==0.1.3

# ML
